body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
}

.habitacion {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.habitacion h2 {
    margin-bottom: 10px;
}

.habitacion p {
    font-size: 16px;
    margin-bottom: 5px;
}

.navbar {
    margin-top: 0;
}

.habitaciones-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.habitacion {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}